<template name="userCard">
  <div class="card">
    <div class="card-content">
      <span class="card-title">
        {{username}}
      </span>
      <p>
        {{#if userIsProjectManager}}
        Project Manager
        {{else}}
        Sviluppatore
        {{/if}}
      </p>
    </div>
    <div class="card-action">
      {{#if userIsProjectManager}}
      <a class="unmakePM">Rendi Sviluppatore</a>
      {{else}}
      <a class="makePM">Rendi Project Manager</a>
      {{/if}}
    </div>
  </div>
</template>