<template name="projectCard">
  <div class="card">
    <div class="card-content">
      <i class="material-icons right close">close</i>
      <span class="card-title">{{name}}</span>
      <p>
        Numero ore: {{hours}}
      </p>
      <div class="progress">
        <div class="determinate" style="width: {{percentage}}%"></div>
      </div>
    </div>
    <div class="card-action">
      <a href="#add-hours-modal" class="addHours modal-trigger">Aggiungi ore</a>
      <a href="#subtract-hours-modal" class="subtractHours modal-trigger">Sottrai ore</a>
    </div>
  </div>
</template>