<template name="projectCards">
  <div class="row">
    <div class="col l3 s12">
      <p>
        Totale ore: {{totalHours}}
      </p>
    </div>
    <div class="input-field col offset-l6 l3 s12">
      <select class="browser-default select_month">
        {{#each months}}
        <option value="{{@index}}" {{selectedActualMonth jsDate}}>{{displayDate}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col offset-l9 l3 s12">
      <a class="waves-effect waves-light btn modal-trigger" href="#add-month-modal">Aggiungi mese</a>
    </div>
  </div>

  <div class="row">
    {{#each project in projects}}
    <div class="col l4 s12">
      {{>projectCard project}}
    </div>
    {{/each}}
  </div>
</template>