<template name="projectCard">
  <div class="card">
    <div class="card-content">
      <span class="close">X</span>
      <span class="card-title">{{name}}</span>
      <p>
        Numero ore: {{hours}}
      </p>
      <div class="progress">
        <div class="determinate" style="width: {{percentage}}%"></div>
      </div>
    </div>
    <div class="card-action">
      <a href="#add-hours-modal" class="addHours modal-trigger">Aggiungi ore</a>
      <a href="javascript:void(0);" class="subtractHours">Sottrai ore</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="add-hours-modal" class="modal">
    <div class="modal-content">
      <h4>Aggiungi ore al progetto</h4>
      <div class="row">
        <form class="col s12 add-hours">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="Inserisci il numero di ore da aggiungere" id="hours_more" type="text" class="validate">
              <label for="hours_more">Numero di ore</label>
            </div>
          </div>

          <input type="submit" class="waves-effect waves-light btn" value="Aggiungi"/>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
    </div>
  </div>


</template>